<p id="notice"><%= notice %></p>
<h1>KenK11's Blog</h1>
<h3>CoderSchool Rails Quickstart</h3>
<div class='row'>
  <div class='col-sm-6'></div>
  <div class='col-sm-6'>
    <%= link_to 'New Article', new_article_path, class: 'btn btn-success-outline' %>
  </div>

</div>

<%= render @articles %>
